<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link href="/css/<%= cssStyleFile%>.css" rel="stylesheet">
</head>
<body>
    <p>Welcome <%= name %>. <% if (age !== ''){%>
            Your age is <%= age %>.
        <%}%></p>
</body>
</html>